# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/AlmazaraBarcha/build/
AlmazaraBarcha/nbproject/private/private.properties
AlmazaraBarcha/nbproject/private/private.xml
AlmazaraBarcha/nbproject/private/private.xml
AlmazaraBarcha/nbproject/private/private.xml
*.xml
AlmazaraBarcha/nbproject/build-impl.xml
*.properties
AlmazaraBarcha/nbproject/genfiles.properties
AlmazaraBarcha/nbproject/project.xml
Utiles/nbproject/private/private.properties
Utiles/nbproject/build-impl.xml
*.xml
Utiles/nbproject/genfiles.properties
*.properties
Utiles/nbproject/private/private.xml
*.xml
*.properties
Utiles/nbproject/private/private.properties
Utiles/nbproject/genfiles.properties
*.properties
Utiles/nbproject/build-impl.xml
*.xml